html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.alert {
    transition: opacity 1s ease-out;
}

/* Resalta el nuevo formulario con un borde amarillo */
.highlight {
    border: 2px solid #FFD700;
    background-color: #fff8dc;
    transition: background-color 1.5s, border 1.5s;
}

/* Animación de desaparición cuando se elimina un ingrediente */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}
