@using DessertApp.Infraestructure.IdentityModels
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <form id="logoutForm" class="form-inline" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Index", "Home")">
            <a href="#" class="btn-getstarted" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
        </form>
    </li>
}
else
{
    <li>
        <a id="register" asp-controller="RegisterUser" asp-action="Register">Register</a>
    </li>
    <li>
        <a class="btn-getstarted" id="login" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
